# Virtualenvs / Python
__pycache__/
.pytest_cache/
*.pyc

# Editors/IDE
.idea/

# Outputs
medias/
out/

# macOS
.DS_Store

# venv
.venv
.env

# local test logs
test-out*.txt

# pytest cache
.pytest_cache/
